@charset "UTF-8";
@use '../../variables' as *;
@use '../../mixin' as *;
@use '../../normalize';
@use '../../layout';
@use '../../language';
@use '../../common';
@use '../../modules/button';
@use '../../modules/popup';
@use '../../modules/subpage';

$commonPath: '../../../../images';
$path: '../../../../images/about';

.main {
	padding-top: rem(70);

	@include rwd-min(1280px) {
		padding-top: rem(88);
	}
}

.m-subPage {
	&__head {
		.title {
			@include rwd-min(769px) {
				max-width: calc(100% - rem(130));
			}
		}
	}
}