@charset "UTF-8";
@use '../../variables' as *;
@use '../../mixin' as *;
@use '../../normalize';
@use '../../layout';
@use '../../language';
@use '../../common';
@use '../../modules/button';
@use '../../modules/card';
@use '../../modules/filter';
@use '../../modules/balloon';

$commonPath: '../../../../images';
$path: '../../../../images/about';

.main {
	padding-top: rem(70);

	@include rwd-min(1280px) {
		padding-top: rem(88);
	}
}

.imageSwiper {
    position: relative;

    .swiper-button-next,
	.swiper-button-prev {
		display: none;
		background-repeat: no-repeat;
		border-radius: 50%;
		box-shadow: 0 rem(4) rem(4) rgba(16, 55, 141, 0.08);
		width: rem(30);
		height: rem(30);
		background-size: rem(30);
		@include transition(all, .3s, ease-in);

		&.swiper-button-lock {
			display: none;
		}

		&.swiper-button-disabled {
			display: none;
		}

		&:after {
			content: '';
		}

		@include rwd-min(561px) {
			display: block;
			width: rem(38);
			height: rem(38);
			background-size: rem(38);
		}
	}

    .swiper-button-prev {
		background-image: url('#{$commonPath}/arrow_slide-prev-w.svg');

		&:hover {
			background-image: url('#{$commonPath}/arrow_slide-prev-b.svg');
		}

		@include rwd-not-hover {
			&:hover {
				background-image: url('#{$commonPath}/arrow_slide-prev-w.svg');
			}
		}
	}

	.swiper-button-next {
		background-image: url('#{$commonPath}/arrow_slide-next-w.svg');

		&:hover {
			background-image: url('#{$commonPath}/arrow_slide-next-b.svg');
		}

		@include rwd-not-hover {
			&:hover {
				background-image: url('#{$commonPath}/arrow_slide-next-w.svg');
			}
		}
	}
}

.section--topic {
	position: relative;
	z-index: 1;
	padding-top: rem(80);

	@include rwd-min(769px) {
		padding-top: rem(100);
	}

	.section__title {
		position: relative;
		text-align: center;
		z-index: 5;

		.title {
			display: block;
			color: $secondary;
            padding-bottom: rem(100);
		}
	}

	.section__content {
		position: relative;
		z-index: 10;
		padding: 0 0 rem(50);
		background: #003893;
		background: linear-gradient(180deg, rgba(0, 56, 147, 1) 20%, rgba(143, 183, 218, 1) 100%);

		&:before {
			content: '';
			display: block;
			width: 100%;
			padding-top: calc((47 / 390) * 100%);
			background-image: url('#{$path}/deco_curve-overview-mb.svg');
			background-position: center top;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
			left: 0;
			top: rem(-1);
			z-index: 10;
		}

		@include rwd-min(769px) {
			margin-top: 0;
			padding-bottom: rem(120);

			&:before {
				padding-top: calc((120 / 1280) * 100%);
				background-image: url('#{$path}/deco_curve-overview-pc.svg');
			}
		}
	}

	.eventGroup {
		position: relative;
		z-index: 15;
		margin-bottom: rem(100);

		&:last-child {
			margin-bottom: 0;
		}

		&__title {
			text-align: center;
			
			.title {
				color: $white;
				margin-bottom: rem(20);
			}

			.desc {
				color: $white;
				display: inline-block;
			}
		}

		&__content {
			margin-top: rem(30);

			@include rwd-min(768px) {
				margin-top: rem(50);
			}

			.container {
				padding: 0;

				@include rwd-min(769px) {
					padding: 0 rem(30);
				}
			}

			.filterGroup {
				&__selector {
					width: calc(100% - rem(60));
					margin-left: auto;
					margin-right: auto;
					
					@include rwd-min(769px) {
						width: 100%;
					}
				}
			}

			.cardsList {
				margin-top: rem(30);
				padding-left: rem(30);

				@include rwd-min(768px) {
					padding-left: 0;
					margin-top: rem(50);
				}

				.cardItem {
					&:last-child {
						margin-right: rem(30);

						@include rwd-min(768px) {
							margin-right: 0;
						}
					}
				}
			}
			
			.action {
				margin-top: rem(50);
				display: flex;
				justify-content: center;
			}
		}

		&--theme {
			margin-top: rem(20);

			@include rwd-min(768px) {
				margin-top: 0;
			}
		}

		&--partner {
			.eventGroup__content {

				.cardsList {
					padding-left: 0;
				}
			}
		}
	}

	.featuresList {
		@include list-reset;
		overflow-x: scroll;

		& > li  {
			position: relative;
			width: rem(290);
			margin-right: rem(20);
			@include box-sizing(content-box);

			&:first-child {
				padding-left: rem(30);
			}

			&:last-child {
				padding-right: rem(30);
				margin-right: 0;
			}
		}

		@include rwd-min(561px) {
			overflow-x: visible;
			padding-left: 0;
			@include box-sizing(border-box);

			& > li {
				width: auto;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}
		}

		.featuresBox {
			position: relative;
			
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 10;
				background-color: rgba(0, 0, 0, .5);
				@include transition(all, .3s, ease-in-out);
			}

			.featureImage {
				width: 100%;
				position: relative;
				z-index: 5;
			}

			.featureText {
				position: absolute;
				z-index: 15;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				justify-content: center;
				color: $white;

				&--back {
					a {
						color: $white;
						text-decoration: underline;
						@include transition(all, .3s, ease-in-out);
					}
				}
			}

			&:hover {
				&:after {
					background-color: rgba(0, 0, 0, .3);
				}
			}

			@include rwd-not-hover {
				&:hover {
					&:after {
						background-color: rgba(0, 0, 0, .5);
					}
				}
			}

			&.multiple {

				.featureText--back {
					display: none;
				}

				&:hover {
					.featureText--front {
						display: none;
					}

					.featureText--back {
						display: flex;
					}
				}

				@include rwd-not-hover {
					.featureText--front {
						display: none;
					}

					.featureText--back {
						display: flex;
					}
				}
			}
		}

		@include rwd-min(769px) {
			& > li {

				
			}

			.featuresBox {
				&.multiple {
					.featureText {

						&--back {

							a {
								opacity: 0;
								animation-duration: .3s;
								animation-fill-mode: both;
								animation-name: linkFadeInUp;

								&:nth-child(1) {
									animation-delay: .3s;
								}

								&:nth-child(2) {
									animation-delay: .5s;
								}

								&:nth-child(3) {
									animation-delay: .7s;
								}
							}
						}
					}
				}
			}
		}
	}

	.swiper-button-prev {
		left: rem(15);

		@include rwd-min(769px) {
			left: rem(-58);
		}
	}

	.swiper-button-next {
		right: rem(15);

		@include rwd-min(769px) {
			right: rem(-58);
		}
	}
}

.section--map {
	position: relative;
	z-index: 5;
	background-color: $yellow;
	padding: rem(80) 0;

	@include rwd-min(769px) {
		padding: rem(100) 0;
	}

	.container {

		@include rwd-min(769px) {
			padding: 0;
		}
	}

	.deco-curve {
		position: absolute;
		width: 100%;
		top: rem(-46);
		height: rem(129);
		overflow: hidden;
		z-index: 0;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			display: block;
			width: 108vw;
			height: rem(129);
			border-radius: 50%;
			z-index: 0;
			background-color: $yellow;
			@include translateX(-50%);
		}

		@include rwd-min(769px) {
			top: rem(-94);
			height: rem(267);

			&:before {
				width: 110vw;
				height: rem(267);
			}
		}
	}
	.section__title {
		position: relative;
		z-index: 5;
		text-align: center;
		margin-bottom: rem(40);

		.title {
			color: $secondary;
		}
	}

	.section__content {
		position: relative;
		z-index: 5;

		.container {
			position: relative;
			z-index: 5;

			@include rwd-min(561px) {
				padding: 0 rem(0);
			}
		}
	}

    .map {
		max-width: rem(980);
		margin: 0 auto;

		&__image {
			position: relative;
			margin-bottom: rem(30);

			img {
				width: 100%;
			}
		}

		&__action {
			@include list-reset;
			margin-top: rem(40);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: rem(20);

			@include rwd-min(769px) {
				flex-direction: row;
			}
		}
	}
}


body {
	&.lang--en {

        .section--topic {
			

            .featuresList {
                & > li {
                    .featureText {
                        &--front {
                            font-size: rem(16);
                            font-weight: 500;
                            line-height: 1.35;

                            span {
                                display: inline-block;
                            }
                        }

                        &--back {
                            a {
                                font-size: rem(12);
                                font-weight: 500;
                                line-height: 2;
                            }
                        }

                        @include rwd-min(769px) {
                            &--front {
                                font-size: rem(20);
                                line-height: 1.3;

                                span {
                                    display: contents;
                                }
                            }

                            &--back {
                                a {
                                    font-size: rem(20);
                                    line-height: 1.3;
                                    margin-bottom: rem(15);

                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
	}

	&.lang--zh {

        .section--topic {
			
            .featuresList {
                & > li {
                    .featureText {

                        &--front {
                            font-size: rem(20);
                            line-height: 1.75;
                            font-weight: 700;
                        }

                        &--back {
                            a {
                                font-size: rem(18);
                                font-weight: 500;
                                line-height: 2;
                            }
                        }

                        @include rwd-min(769px) {
                            &--front {
                                font-size: rem(26);
                            }

                            &--back {
                                a {
                                    font-size: rem(20);
                                    line-height: 3;
                                }
                            }
                        }
                    }
                }
            }
        }
	}
}