@charset "UTF-8";
@use 'variables' as *;
@use 'mixin' as *;
@use 'normalize';
@use 'layout';
@use 'language';
@use 'common';
@use 'modules/button';
@use 'modules/card';
@use 'modules/tab';
@use 'modules/balloon';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');

$commonPath: '../../images';
$path: '../../images/index';

.main {
	padding-top: rem(70);

	@include rwd-min(1280px) {
		padding-top: rem(88);
	}
}

.opening {
	padding: 0;
	position: relative;
	background-color: #003A94;
	background-repeat: no-repeat;
	background-image: url('#{$path}/opening/layer_1-mb.jpg');
	background-size: contain;

	&:before {
		content: '';
		display: block;
		padding-top: calc((480 / 390) * 100%);
	}

	@include rwd-min(769px) {
		background-image: url('#{$path}/opening/layer_1-pc.jpg');

		&:before {
			padding-top: calc((1080 / 1920) * 100%);
		}

		&:after {
			height: 35%;
		}
	}

    .hero {
		position: absolute;
		z-index: 5;
		display: flex;
		flex-direction: column-reverse;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;

		&__wrap {
			&--layer2 {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: rem(40) rem(30) 0;

				@include rwd-min(769px) {
					padding: rem(60) 0 0;
				}

				.container {
					position: relative;
				}
			}
		}

        &__layer {

            &--1 {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				font-size: 0;
				background-image: url('#{$path}/opening/layer_2-mb.svg');
				background-size: contain;
				background-repeat: no-repeat;

				@include rwd-min(769px) {
					background-image: url('#{$path}/opening/layer_2-pc.svg');
				}
            }

            &--2 {
				position: absolute;
				width: 100%;
				left: 0;

				&:before {
					content: '';
					display: block;
					padding-top: calc((311 / 560) * 100%);
				}

				img {
					@include fit-cover;
				}

				@include rwd-min(769px) {
					width: rem(560);
				}
            }

            &--3 {
                position: absolute;
				width: 100%;
				right: 0;

				&:before {
					content: '';
					display: block;
					padding-top: calc((124 / 171) * 100%);
				}

				img {
					@include fit-cover;
				}

				@include rwd-min(769px) {
					width: rem(171);
				}
            }
        }
    }

	.intro {
		position: relative;
		z-index: 5;
		padding-top: rem(107);
		padding-bottom: rem(107);

		@include rwd-min(769px) {
			padding-top: rem(150);
			padding-bottom: rem(160);
		}

		.intro__text {
			color: $white;
			margin-bottom: rem(20);
			margin-left: auto;
			margin-right: auto;
			text-align: justify;

			&:last-child {
				margin-bottom: 0;
			}

			@include rwd-min(769px) {
				max-width: rem(789);
			}
		}
	}
}

.section {
	.section__title {

		.container {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			padding: 0 rem(30);

			@include rwd-min(561px) {
				padding: 0;
			}

			.action {
				@include list-reset;
			}
		}
	}
}

.section--media {
	position: relative;
	z-index: 5;
	background-color: #F4E342;
	padding: rem(80) 0;

	@include rwd-min(769px) {
		padding: rem(100) 0;
	}

	.container {

		@include rwd-min(769px) {
			padding: 0;
		}
	}

	.deco-curve {
		position: absolute;
		width: 100%;
		top: rem(-46);
		height: rem(129);
		overflow: hidden;
		z-index: 0;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			display: block;
			width: 108vw;
			height: rem(129);
			border-radius: 50%;
			background-color: #F4E342;
			@include translateX(-50%);
		}

		@include rwd-min(769px) {
			top: rem(-94);
			height: rem(267);

			&:before {
				width: 110vw;
				height: rem(267);
			}
		}
	}

	.section__content {

		.container {
			position: relative;
			z-index: 5;

			@include rwd-min(561px) {
				padding: 0 rem(0);
			}
		}
	}

    .videoFrame {
	    background-color: #F4E342;

        &:before {
            padding-top: calc((662 / 1180) * 100%);
        }
    }
}

.videoSwiper {
	position: relative;

	.swiper-nav {
		margin-top: rem(20);
		position: relative;
		display: flex;
		width: 100%;
		z-index: 5;
		justify-content: flex-end;
		column-gap: rem(20);

		@include rwd-min(769px) {
			position: absolute;
			top: 50%;
			@include translateY(-50%);
			margin-top: 0;
			padding: 0 rem(20);
			justify-content: space-between;
		}

		.swiper-button-next,
		.swiper-button-prev {
			margin-top: 0;
			position: static;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		display: block;
		background-repeat: no-repeat;
		border-radius: 50%;
		box-shadow: 0 rem(4) rem(4) rgba(16, 55, 141, 0.08);
		width: rem(31);
		height: rem(31);
		background-size: rem(31);
		@include transition(all, .3s, ease-in);

		&.swiper-button-lock {
			display: none;
		}

		&:after {
			content: '';
		}

		@include rwd-min(769px) {
			width: rem(38);
			height: rem(38);
			background-size: rem(38);
		}
	}

	.swiper-button-prev {
		background-image: url('#{$commonPath}/arrow_slide-prev-w.svg');

		&:hover {
			background-image: url('#{$commonPath}/arrow_slide-prev-b.svg');
		}

		@include rwd-not-hover {
			&:hover {
				background-image: url('#{$commonPath}/arrow_slide-prev-w.svg');
			}
		}
	}

	.swiper-button-next {
		background-image: url('#{$commonPath}/arrow_slide-next-w.svg');

		&:hover {
			background-image: url('#{$commonPath}/arrow_slide-next-b.svg');
		}

		@include rwd-not-hover {
			&:hover {
				background-image: url('#{$commonPath}/arrow_slide-next-w.svg');
			}
		}
	}
}

.cardsSwiper {
	.swiper-wrapper {
		overflow-x: scroll;
		padding-left: rem(30);

		.swiper-slide {
			width: rem(290);
			margin-right: rem(20);
			@include box-sizing(content-box);

			&:last-child {
				padding-right: rem(30);
			}
		}

		@include rwd-min(561px) {
			overflow-x: visible;
			padding-left: 0;
			@include box-sizing(border-box);

			.swiper-slide {
				width: auto;

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		display: none;
		width: rem(38);
		height: rem(38);
		background-size: rem(38);
		background-repeat: no-repeat;
		border-radius: 50%;
		box-shadow: 0 rem(4) rem(4) rgba(16, 55, 141, 0.08);
		@include transition(all, .3s, ease-in);

		&.swiper-button-disabled {
			display: none;
		}

		&.swiper-button-lock {
			display: none;
		}

		&:after {
			content: '';
		}
	}

	.swiper-button-prev {
		background-image: url('#{$commonPath}/arrow_slide-prev-w.svg');

		&:hover {
			background-image: url('#{$commonPath}/arrow_slide-prev-b.svg');
		}

		@include rwd-not-hover {
			&:hover {
				background-image: url('#{$commonPath}/arrow_slide-prev-w.svg');
			}
		}
	}

	.swiper-button-next {
		background-image: url('#{$commonPath}/arrow_slide-next-w.svg');

		&:hover {
			background-image: url('#{$commonPath}/arrow_slide-next-b.svg');
		}

		@include rwd-not-hover {
			&:hover {
				background-image: url('#{$commonPath}/arrow_slide-next-w.svg');
			}
		}
	}

	@include rwd-min(561px) {
		.swiper-button-next,
		.swiper-button-prev {
			display: block;
		}

		.swiper-button-prev {
			left: rem(-55);
		}

		.swiper-button-next {
			right: rem(-55);
		}
	}

	@include rwd-min(993px) {
		.swiper-button-prev {
			left: rem(-56);
		}

		.swiper-button-next {
			right: rem(-56);
		}
	}
}

.section--news {
	padding-top: rem(72);
	padding-bottom: rem(130);
	background-color: $bg-1;
	background-image: url('#{$path}/deco_news.svg');
	background-size: rem(216) auto;
	background-repeat: repeat-x;
	background-position: rem(-72) bottom;

	@include rwd-min(769px) {
		padding-top: rem(100);
		background-size: rem(308) auto;
	}

	.section__title {
		color: $white;
		text-align: center;
		margin-bottom: rem(50);
	}

	.section__content {

		.container {
			padding: 0;

			@include rwd-min(561px) {
				padding: 0 rem(40);
			}
		}
	}
}

.section--exhibition {
	overflow: hidden;
	padding: rem(80) 0 rem(0);
	position: relative;
	background-color: $white;

	&:after {
		content: '';
		position: relative;
		bottom: rem(-1);
		display: block;
		width: 100%;
		z-index: 10;
		padding-top: calc((93 / 390) * 100%);
		background-image: url('#{$path}/deco_exhMap-mb.png');
		background-size: cover;
		background-repeat: repeat-x;
		background-position: center bottom;
	}

	@include rwd-min(1280px) {
		padding: rem(100) 0 0;

		&:after {
			padding-top: rem(50);
			height: rem(220);
			background-image: url('#{$path}/deco_exhMap-pc.png');
			background-size: rem(512) rem(170);
			background-position: 0 bottom;;
		}
	}

	.section__title {
		position: relative;
		z-index: 10;
		color: $secondary;
		text-align: center;
		margin-bottom: rem(50);
	}

	.section__content {
		position: relative;
		z-index: 10;
		
		.container {
			padding: 0 rem(30);

			@include rwd-min(769px) {
				padding: 0;
			}
		}

		.tabGroup {
			.tabGroup__selector {
				margin-bottom: rem(40);

				@include rwd-min(1280px) {
					margin-bottom: rem(30);
				}
			}
		}

		.exhMap {
			position: relative;
			background-color: $white;
			display: flex;
    		flex-direction: column;

			@include rwd-min(1280px) {
				display: grid;
				grid-template-columns: rem(580) 1fr;
				gap: rem(20);
			}

			&__mapImage {
				background: #e8e0d0;
				border-right: 2px solid var(--ink);
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				position: sticky;
				top: 0;
				z-index: 1;
				height: calc((100dvw - rem(60)) * (1275 / 1740));
				overflow: hidden;

				.image {
					display: block;
					width: 100%;
				}

				@include rwd-min(1280px) {
					min-height: rem(425);
					max-height: rem(425);
				}
			}

			&__mapList {
				margin-top: rem(20);
				max-height: calc(100dvh - rem(70) - rem(40) - ((100dvw - rem(60)) * (1275 / 1740)));
				overflow-y: auto;
				position: relative;
				padding-left: rem(12);
				padding-right: rem(12);

				&::-webkit-scrollbar {
					-webkit-appearance: none;
					width: rem(10);
					background-color: #E6E6E6;
					border-radius: rem(5);
				}

				&::-webkit-scrollbar-thumb {
					border-radius: rem(5);
					background-color: $primary;
				}

				@include rwd-min(1280px) {
					width: auto;
					padding-left: 0;
					padding-right: rem(30);
					margin-top: 0;
					position: relative;
					max-height: rem(425);
					overflow-y: auto;
				}
			}
		}
	}
}

.section--dayOf {
	padding: rem(80) 0;
	position: relative;
	background: #003893;
    background: linear-gradient(180deg, rgba(0, 56, 147, 1) 0%, rgba(143, 183, 218, 1) 60%, rgba(241, 228, 98, 1) 90%);


	@include rwd-min(769px) {
		padding: rem(100) 0;
	}

	.section__title {
		color: $white;
		text-align: center;
		margin-bottom: rem(50);
	}

	.section__content {

		.container {
			padding: 0;

			@include rwd-min(561px) {
				padding: 0 rem(40);
			}
		}
	}
}