@charset "UTF-8";
@use '../variables' as *;
@use '../mixin' as *;
@use '../normalize';
@use '../layout';
@use '../language';
@use '../common';
@use '../modules/button';
@use '../modules/card';
@use '../modules/filter';
@use '../modules/balloon';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');


$path: '../../../images/about';

.main {
	padding-top: rem(70);

	@include rwd-min(1280px) {
		padding-top: rem(88);
	}
}

.section--topic {
	position: relative;
	z-index: 1;
	padding-top: rem(80);

	@include rwd-min(769px) {
		padding-top: rem(100);
	}

	.section__title {
		position: relative;
		text-align: center;
		z-index: 5;

		.title {
			display: block;
			color: $secondary;
            padding-bottom: rem(100);
		}
	}

	.section__content {
		position: relative;
		z-index: 10;
		padding: 0 0 rem(200);
		background: #003893;
		background: linear-gradient(180deg, rgba(0, 56, 147, 1) 20%, rgba(143, 183, 218, 1) 100%);

		&:before {
			content: '';
			display: block;
			width: 100%;
			padding-top: calc((45 / 390) * 100%);
			background-image: url('#{$path}/deco_curve-overview-mb.svg');
			background-position: center top;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
			left: 0;
			top: rem(-1);
			z-index: 10;
		}

		@include rwd-min(769px) {
			margin-top: 0;

			&:before {
				padding-top: calc((120 / 1280) * 100%);
				background-image: url('#{$path}/deco_curve-overview-pc.svg');
			}
		}
	}

	.eventGroup {
		position: relative;
		z-index: 15;

		&__title {
			text-align: center;
			
			.title {
				color: $white;
				margin-bottom: rem(20);
			}

			.desc {
				color: $white;
				display: inline-block;
			}
		}

		&__content {
			margin-top: rem(30);

			@include rwd-min(768px) {
				margin-top: rem(50);
			}

			.cardsList {
				margin-top: rem(30);
			}

			.collapseAction {
				display: flex;
				justify-content: center;
				margin-top: rem(50);
			}

		}
	}
}

.section--map {
	position: relative;
	z-index: 5;
	background-color: #F4E342;
	padding: rem(80) 0;

	@include rwd-min(769px) {
		padding: rem(100) 0;
	}

	.container {

		@include rwd-min(769px) {
			padding: 0;
		}
	}

	.deco-curve {
		position: absolute;
		width: 100%;
		top: rem(-46);
		height: rem(129);
		overflow: hidden;
		z-index: 0;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			display: block;
			width: 108vw;
			height: rem(129);
			border-radius: 50%;
			z-index: 0;
			background-color: #F4E342;
			@include translateX(-50%);
		}

		@include rwd-min(769px) {
			top: rem(-94);
			height: rem(267);

			&:before {
				width: 110vw;
				height: rem(267);
			}
		}
	}
	.section__title {
		position: relative;
		z-index: 5;
	}

	.section__content {
		position: relative;
		z-index: 5;

		.container {
			position: relative;
			z-index: 5;

			@include rwd-min(561px) {
				padding: 0 rem(0);
			}
		}
	}

    .videoFrame {
	    background-color: #F4E342;

        &:before {
            padding-top: calc((662 / 1180) * 100%);
        }
    }
}
