@charset "UTF-8";
@use '../variables' as *;
@use '../mixin' as *;
@use '../normalize';
@use '../layout';
@use '../language';
@use '../common';
@use '../modules/button';
@use '../modules/popup';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');


$path: '../../../images/about';

.main {
	padding-top: rem(70);

	@include rwd-min(1280px) {
		padding-top: rem(88);
	}
}

.section--topic {

	.section__title {
		position: relative;
		text-align: center;
		background-color: #003893;
		background-image: url('#{$path}/bg_vi-topic-mb.jpg');
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: cover;

		&:before {
			content: '';
			display: block;
			padding-top: calc((390 / 380) * 100%);
		}

		@include rwd-min(769px) {
			background-image: url('#{$path}/bg_vi-topic-pc.jpg');

			&:before {
				padding-top: calc((728 / 1280) * 100%);
			}
		}

		@include rwd-min(1600px) {

			&:before {
				padding-top: calc((820 / 1920) * 100%);
			}
		}

		.container {
			position: absolute;
			top: 50%;
			left: 50%;
			@include translate(-50%, -50%);

			@include rwd-min(769px) {
				height: 100%;
				padding-top: rem(100);
			}
		}

		.title {
			display: block;
			color: $white;
			margin-bottom: rem(50);

			@include rwd-min(769px) {
				margin-bottom: rem(100);
			}
		}

		.coverImg {
			max-width: rem(165);
			margin-left: auto;
			margin-right: auto;

			img {
				width: 100%;
			}

			@include rwd-min(769px) {
				max-width: rem(301);
			}
		}
	}

	.section__content {
		margin-top: rem(-35);
		position: relative;
		padding: 0 0 rem(35);
		background: #003893;
		background: linear-gradient(180deg, rgba(0, 56, 147, 1) 0%, rgba(72, 152, 199, 1) 100%);

		&:after {
			content: '';
			display: block;
			width: 100%;
			padding-top: calc((35 / 390) * 100%);
			background-image: url('#{$path}/deco_curve-mb.svg');
			background-position: center bottom;
			background-repeat: no-repeat;
			position: absolute;
			background-size: contain;
			left: 0;
			bottom: rem(-1);
		}

		@include rwd-min(769px) {
			margin-top: 0;
			padding: rem(45) 0 rem(180);

			&:after {
				padding-top: calc((180 / 1280) * 100%);
				background-image: url('#{$path}/deco_curve-pc.svg');
			}
		}
	}
}

.section--signs {
	padding-top: 0;
	padding-bottom: rem(80);

	@include rwd-min(769px) {
		padding-top: rem(100);
		padding-bottom: 0;
	}

	.section__title {
		color: $white;
		margin-bottom: rem(40);
		text-align: center;
	}
}

.section--video {
	position: relative;
	padding-top: rem(128);
	padding-bottom: rem(80);

	@include rwd-min(769px) {
		padding-top: rem(205);
		padding-bottom: rem(100);
	}

	.waveBg {
		position: absolute;
		top: 0;
		left: 50%;
		@include translateX(-50%);
		height: rem(128);

		@include rwd-min(769px) {
			height: rem(420);
		}
	}
}

.viGroup {
	overflow: hidden;

	&--intro {
		padding-bottom: rem(140);
		background-position: center bottom;
		background-repeat: repeat-x;
		background-size: auto rem(130);

		@include rwd-min(769px) {
			padding-bottom: rem(200);
			background-size: auto rem(153);
		}

		.introText {
			color: $white;
			max-width: rem(580);
			margin-left: auto;
			margin-right: auto;

			&__title {
				margin-bottom: rem(30);
				text-align: center;

				@include rwd-min(769px) {
					margin-bottom: rem(50);
				}

				.topic {
					@include f-unbounded;
					font-size: rem(22);
					font-weight: bold;
					letter-spacing: rem(2.2);

					@include rwd-min(769px) {
						font-size: rem(32);
						letter-spacing: rem(3.2);
					}
				}
			}

			&__paragraph {

				p {
					margin-bottom: rem(30);

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		.introImage {
			margin-top: rem(40);

			img {
				width: 100%;
				position: relative;
				left: 50%;
				@include translateX(-50%);


			}

			@include rwd-min(769px) {
				margin-top: rem(60);

				img {
					max-width: rem(1585);
					width: rem(1585);
				}
			}
		}
	}

	&--imagery {
		padding-top: rem(10);

		@include rwd-min(769px) {
			padding-top: rem(60);
		}

		.container {
			max-width: rem(898);
		}

		.viGroup__title {
			text-align: center;
			color: $secondary;
			margin-bottom: rem(60);
		}

		.viGroup__content {
			padding: 0 rem(10);

			.imageryGroup {
				margin-bottom: rem(60);

				@include rwd-min(769px) {
					margin-bottom: rem(90);
				}
			}
		}

		.imageryGroup {
			&__title {
				position: relative;
				text-align: center;
				margin-bottom: rem(40);

				& > span {
					display: inline-block;
					background-color: $white;
					padding: 0 rem(20);
					position: relative;
					z-index: 5;
					color: $secondary;

					& > span {
						display: block;

						@include rwd-min(769px) {
							display: inline;
						}
					}
				}

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					right: 0;
					width: 100%;
					height: rem(1);
					background-color: $secondary;
					z-index: 0;
					@include translateY(-50%);
				}
			}

			&__image {
				display: flex;
				justify-content: center;

				img {
					max-width: 100%;
				}
			}
		}
	}

	&--video {

		.container {
			max-width: rem(1080);
		}

		.videoFrame {
			&:before {
				padding-top: calc((550 / 978) * 100%);
			}
		}
	}
}

.waveBg {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: hidden;


	.waveSvg {
		width: rem(390);
		flex: 0 0 rem(390);

		@include rwd-min(769px) {
			width: rem(1280);
			flex: 0 0 rem(1280);
		}
	}

	.wave-line {
		animation: floatWave 6s ease-in-out infinite;
		opacity: 0.9;

		@for $i from 1 through 19 {
			&:nth-child(#{$i}) {
				animation-delay: ($i - 1) * 0.2s;
			}
		}
	}
}

@keyframes floatWave {
	0% {
		transform: translateY(0);
		opacity: 0.85;
	}
	50% {
		transform: translateY(6px);
		opacity: 1;
	}

	100% {
		transform: translateY(0);
		opacity: 0.85;
	}
}