@charset "UTF-8";
@use '../variables' as *;
@use '../mixin' as *;
@use '../normalize';
@use '../layout';
@use '../language';
@use '../common';
@use '../modules/button';
@use '../modules/card';
@use '../modules/filter';
@use '../modules/pagination';

$commonPath: '../../../images';
$path: '../../../images/news';

.main {
	padding-top: rem(70);

	@include rwd-min(1280px) {
		padding-top: rem(88);
	}
}

.section {
	.section__title {

		.container {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
		}
	}
}

.section {
	.section__title {
		margin-bottom: rem(50);

		.title {
			color: $secondary;
		}

		.container {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
		}
	}
}

.section--news {
	position: relative;
	z-index: 5;
	background-color: $white;
	padding: rem(80) 0;

	@include rwd-min(769px) {
		padding: rem(100) 0;
	}

	.section__content {
		.filterGroup {
			.filterGroup__content {
				padding-top: rem(40);
			}
		}

		.pagination {
			margin-top: rem(40);
		}
	}
}

.lang--en {
	.filterGroup--default {

		.filterOption {
			justify-content: center;
		}
	}
}
.lang--zh {
	.filterGroup--default {

		.filterOption {
			justify-content: center;

			.filterOption__item {
				
				&:first-child {
					flex: 0 0 100%;
					
					@include rwd-min(768px) {
						flex: initial;
						width: auto;
					}
				}
			}
		}
	}
}