@charset "UTF-8";
@use '../variables' as *;
@use '../mixin' as *;
@use '../normalize';
@use '../layout';
@use '../language';
@use '../common';
@use '../modules/button';
@import '../../../../node_modules/@chenfengyuan/datepicker/dist/datepicker.css';

$commonPath: '../../../images';
$path: '../../../images/reservation';

.main {
	padding-top: rem(70);

	@include rwd-min(1280px) {
		padding-top: rem(88);
	}
}

.section--intro {
    min-height: 100dvh;
}

.section--form {
    .section__content {
        padding: rem(80) 0;
    }
}