@use '../variables' as *;
@use '../mixin' as *;

$btnPath: '/resources/images';

.btn {
    padding: 0;
	border-radius: 0;
	border: none;
    line-height: calc(17 / 14);
    cursor: pointer;
    @include box-sizing(border-box);
    @include transition(all, .3s, ease-in);

    .btn__text {
        @include transition(all, .3s, ease-in);
    }

    &--blank {
        display: flex;
        align-items: center;
        padding: rem(9) rem(19);
        border-width: rem(1);
        border-style: solid;
        border-radius: rem(44);
        background-color: transparent;

        @include rwd-min(769px) {
            padding: rem(12) rem(29);
        }

        &.is-dark {
            border-color: $secondary;

            .btn__text {
                color: $secondary;
            }
        }

        &.is-light {
            border-color: $white;

            .btn__text {
                color: $white;
            }
        }

        &:hover {
            text-decoration: none;
            border-color: $primary-hover;
            background-color: $primary-hover;

            .btn__text {
                color: $white;
            }
        }

        @include rwd-not-hover {
            &.is-dark {
                &:hover {
                    background-color: transparent;
                    border-color: $secondary;

                    .btn__text {
                        color: $secondary;
                    }
                }
            }


            &.is-light {
                &:hover {
                    border-color: $white;

                    .btn__text {
                        color: $white;
                    }
                }
            }
        }
    }

    &--goDetail {
        display: flex;
        align-items: center;
        padding-top: rem(10);
        padding-bottom: rem(4);
        border-bottom: rem(2) solid $dark;

        &:after {
            content: '';
            display: block;
            width: rem(13);
            height: rem(13);
            background-image: url('#{$btnPath}/arrow_goDetail-dark.svg');
            background-size: rem(13);
            background-repeat: no-repeat;
            margin-left: rem(12);
            @include transition(all, .3s, ease-in-out);
        }

        .btn__text {
            @include f-unbounded;
            font-size: rem(14);
            color: #0A0C00;
            font-weight: 600;
        }

        &:hover {
            &:after {
                @include rotate(45);
            }
        }

        @include rwd-not-hover {
            &:hover {
                &:after {
                    @include rotate(0);
                }
            }
        }
    }

    &--goSubpage,
    &--blankPage,
    &--submit {
        display: flex;
        align-items: center;
        padding: rem(9) rem(19);
        border-width: rem(1);
        border-style: solid;
        border-radius: rem(32);
        background-color: transparent;

        @include rwd-min(769px) {
            padding: rem(12) rem(29);
        }

        &:after {
            content: '';
            display: block;
            width: rem(13);
            height: rem(13);
            background-size: rem(13);
            background-repeat: no-repeat;
            margin-left: rem(10);
            @include transition(all, .3s, ease-in-out);
        }

        &.is-dark {
            border-color: $secondary;
            background-color: $white;

            &:after {
                background-image: url('#{$btnPath}/arrow_goSubpage-dark.svg');
            }

            .btn__text {
                color: $secondary;
            }

            &:hover {
                border-color: $primary-hover;
                background-color: $primary-hover;

                &:after {
                    background-image: url('#{$btnPath}/arrow_goSubpage-light.svg');
                }

                .btn__text {
                    color: $white;
                }
            }

            @include rwd-not-hover {
                &:hover {
                    border-color: $secondary;
                    background-color: white;

                    &:after {
                        background-image: url('#{$btnPath}/arrow_goSubpage-dark.svg');
                    }

                    .btn__text {
                        color: $secondary;
                    }
                }
            }
        }

        &.is-light {
            border-color: $white;

            &:after {
                background-image: url('#{$btnPath}/arrow_goSubpage-light.svg');
            }

            .btn__text {
                color: $white;
            }

            &:hover {
                border-color: $primary-hover;
                background-color: $primary-hover;
            }

            @include rwd-not-hover {
                &:hover {
                    border-color: $white;
                    background-color: transparent;
                }
            }
        }

        &.is-yellow {
            border-color: $secondary;
            background-color: $yellow;

            &:after {
                background-image: url('#{$btnPath}/arrow_goSubpage-dark.svg');
            }

            .btn__text {
                color: $secondary;
            }

            &:hover {
                border-color: $primary-hover;
                background-color: $primary-hover;

                &:after {
                    background-image: url('#{$btnPath}/arrow_goSubpage-light.svg');
                }

                .btn__text {
                    color: $white;
                }
            }

            @include rwd-not-hover {
                &:hover {
                    border-color: $secondary;
                    background-color: $yellow;

                    &:after {
                        background-image: url('#{$btnPath}/arrow_goSubpage-dark.svg');
                    }

                    .btn__text {
                        color: $secondary;
                    }
                }
            }
        }

        &:hover {
            &:after {
                @include rotate(45);
            }
        }

        @include rwd-not-hover {
            &:hover {
                &:after {
                    @include rotate(0);
                }
            }
        }
    }

    &--goSubpage {

        .btn__text {
            @include f-unbounded;
            font-size: rem(14);
            font-weight: 600;
            line-height: calc(17 / 14);
        }
    }

    &--inside {
        display: flex;
        align-items: center;
        padding: rem(11) rem(19);
        border: rem(1) solid $secondary-dark;
        border-radius: rem(32);
        background-color: transparent;

        @include rwd-min(769px) {
            padding: rem(13) rem(21);
        }

        .btn__text {
            @include f-unbounded;
            font-size: rem(14);
            font-weight: 600;
            color: $primary-dark;

            @include rwd-min(769px) {
                font-size: rem(15);
            }
        }

        &:hover {
            text-decoration: none;
            border: rem(1) solid $primary-hover;
            background-color: $primary-hover;
            box-shadow: 0 rem(4) rem(4) rgba(16, 55, 141, 0.08);
            
            .btn__text {
                color: $white;
            }
        }

        @include rwd-not-hover {
            &:hover {
                background-color: transparent;
                border: rem(1) solid $secondary-dark;
                box-shadow: none;
                .btn__text {
                    color: $primary-dark;
                }
            }
        }
    }

    &--customLink {
        display: flex;
        align-items: center;
        padding: rem(9) rem(19);
        border: rem(1) solid $secondary;
        border-radius: rem(44);
        background-color: transparent;

        @include rwd-min(769px) {
            padding: rem(12) rem(29);
        }

        .btn__text {
            color: $secondary;
        }

        &:hover {
            text-decoration: none;
            border: rem(1) solid $primary-hover;
            background-color: $primary-hover;
            box-shadow: 0 rem(4) rem(4) rgba(16, 55, 141, 0.08);
            
            .btn__text {
                color: $white;
            }
        }

        @include rwd-not-hover {
            &:hover {
                background-color: transparent;
                border: rem(1) solid $secondary;
                box-shadow: none;
                
                .btn__text {
                    color: $secondary;
                }
            }
        }
    }

    &--eventDetail {
        display: flex;
        align-items: center;
        padding-top: rem(10);
        padding-bottom: rem(4);
        border-bottom: rem(2) solid $dark;

        &:after {
            content: '';
            display: block;
            width: rem(13);
            height: rem(13);
            background-image: url('#{$btnPath}/arrow_goDetail-dark.svg');
            background-size: rem(13);
            background-repeat: no-repeat;
            margin-left: rem(12);
            @include transition(all, .3s, ease-in-out);
        }

        .btn__text {
            @include f-unbounded;
            font-size: rem(14);
            color: #0A0C00;
            font-weight: 600;
        }

        &:hover {
            &:after {
                @include rotate(45);
            }
        }
        
        @include rwd-not-hover {
            &:hover {
                &:after {
                    @include rotate(0);
                }
            }
        }
    }

    &--closePopup {
        width: rem(31);
        height: rem(30);
        background-color: transparent;
        background-image: url('#{$btnPath}/btn_popup-close.svg');
        background-size: rem(31) rem(30);
        background-repeat: no-repeat;

        &:not(:disabled):not(.disabled).active,
        &:not(:disabled):not(.disabled):active {
            background-image: url('#{$btnPath}/btn_popup-close.svg');
        }
    }

    &--collapse {
        display: flex;
        align-items: center;
        padding: rem(9) rem(19);
        border-width: rem(1);
        border-style: solid;
        border-radius: rem(32);
        background-color: transparent;

        @include rwd-min(769px) {
            padding: rem(12) rem(29);
        }

        &:after {
            content: '';
            display: block;
            width: rem(19);
            height: rem(19);
            background-size: rem(19);
            background-repeat: no-repeat;
            margin-left: rem(10);
            @include transition(all, .3s, ease-in-out);
        }

        .btn__text {
            @include f-unbounded;
            font-size: rem(15);
            font-weight: 600;
        }

        &.is-light {
            border-color: $white;

            &:after {
                background-image: url('#{$btnPath}/arrow_collapse-w.svg');
            }

            .btn__text {
                color: $white;
            }

            &:hover {
                border-color: $primary-hover;
                background-color: $primary-hover;
            }

            @include rwd-not-hover {
                &:hover {
                    border-color: $white;
                    background-color: transparent;
                }
            }
        }

        &:hover,
        &.is-active {
            &:after {
                @include rotate(-180);
            }
        }

        @include rwd-not-hover {
            &:hover {
                &:after {
                    @include rotate(0);
                }
            }
        }
    }

    &--routesSwitch {
        width: rem(38);
        height: rem(38);
        background-color: $white;
        background-image: url('#{$btnPath}/arrow_routeBox.svg');
        background-size: rem(38);
        background-repeat: no-repeat;
        background-position: center;
        border: rem(1) solid $primary-hover;
        border-radius: 50%;
        @include transition(all, .3s, ease-in);
        
        &:hover {
            background-color: $primary-hover;
            background-image: url('#{$btnPath}/arrow_routeBox-hover.svg');
        }

        @include rwd-not-hover {
            &:hover {
                background-color: $white;
                background-image: url('#{$btnPath}/arrow_routeBox.svg');
            }
        }
    }

    &--refresh {
        width: rem(30);
        height: rem(30);
        background-color: $bg-4;
        background-image: url('#{$btnPath}/icon_refresh.svg');
        background-repeat: no-repeat;
        background-size: rem(30);
        background-position: center;
        font-size: 0;
        border-radius: rem(6);

        &:hover {
            background-color: $primary-hover;
        }

        @include rwd-not-hover {
            &:hover {
                background-color: $bg-4;
            }
        }
    }

    &--reservation {
        padding: rem(9) rem(19);
        border: rem(1) solid $secondary;
        background-color: $yellow;
        border-radius: rem(44);


        @include rwd-min(769px) {
            padding: rem(12) rem(29);
        }

        .btn__text {
            color: $secondary;
            font-size: rem(15);
            font-weight: 600;
            line-height: calc(22 / 15);
            letter-spacing: rem(1.5);
        }

        &:hover {
            background-color: $secondary;

            .btn__text {
                color: $white;
            }
        }

        @include rwd-not-hover {
            &:hover {
                background-color: $yellow;

                .btn__text {
                    color: $secondary;
                }
            }
        }
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}