@use '../variables' as *;
@use '../mixin' as *;

$path: '/resources/images';

.cardsList {
	position: relative;

    &--default {
        display: flex;
        flex-direction: column;
        gap: rem(30);

        @include rwd-min(769px) {
            flex-direction: row;
            flex-wrap: wrap;

            .cardItem {
                flex: 0 0 calc((100% - rem(60)) / 3);
                width: calc((100% - rem(60)) / 3)
            }
        }
    }

    &--column {
        display: flex;
        flex-direction: column;
        gap: rem(30);
    }

    &--exhMap {
        .cardItem {
            padding: rem(20) 0;
            border-bottom: rem(1) solid $secondary;

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
        }
    }

    &--collapseScroll {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: rem(20);
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;

        @include rwd-min(769px) {
            overflow: hidden;
            flex-wrap: wrap;
            gap: rem(30);
            transition: max-height 0.4s ease;

            .cardItem {
                &:nth-child(n+4) {
                    display: none;
                }
            }

            &.is-active {

                .cardItem {
                    &:nth-child(n+4) {
                        display: block;
                    }
                }
            }
        }

        .cardItem {
            width: rem(290);
            flex: 0 0 rem(290);

            @include rwd-min(769px) {
                flex: 0 0 calc((100% - rem(60)) / 3);
                width: calc((100% - rem(60)) / 3);
            }
        }
    }

    &--swiper {

        @include rwd-min(769px) {

            .swiper-disabled {
                & ~ .swiper-button-prev,
                & ~ .swiper-button-next {
                    display: none;
                }

                .swiper-wrapper {
                    justify-content: center;
                }

                .swiper-slide {
                    flex: 0 0 calc((100% - rem(60)) / 3);
                    width: calc((100% - rem(60)) / 3)
                }
            }
        }
    }
}

.cardItem {

	&__image {
		position: relative;
        overflow: hidden;

		&:before {
            content: '';
			display: block;
		}

		img {
            @include fit-cover;
            @include transition(all, .3s, ease-in);
		}
	}

    &__venue {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        &:before {
            content: '';
            display: block;
            width: rem(16);
            height: rem(39);
            flex: 0 0 rem(16);
            background-image: url('#{$path}/deco_venue.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin-right: rem(16);

            @include rwd-min(769px) {
                width: rem(18);
                flex: 0 0 rem(18);
                height: rem(45);
            }
        }

        .text {
            display: flex;
            @include f-unbounded;
            color: $secondary;
            justify-content: center;
            align-items: center;
            flex: 0 0 rem(40);
            width: rem(40);
            height: rem(40);
            background-color: transparent;
            border: rem(1) solid $secondary;
            border-radius: rem(4);
            font-size: rem(16);
            font-weight: 500;

            @include rwd-min(769px) {
                width: rem(50);
                flex: 0 0 rem(50);
                height: rem(50);
                font-size: rem(18);
            }
        }
    }

	&__text {
		background-color: $white;

        .title {
            word-break: break-all;
        }

		.date,
        .time {
            display: block;
			@include f-unbounded;
		}

		.venue {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: rem(10);
            column-gap: rem(16);

            .venue__deco {
                img {}
            }

            .venue__label {
                display: flex;
                @include f-unbounded;
                color: $secondary;
                justify-content: center;
                align-items: center;
                flex: 0 0 rem(50);
                width: rem(50);
                height: rem(50);
                background-color: transparent;
                border: rem(1) solid $secondary;
                border-radius: rem(4);
                font-size: rem(18);
                font-weight: 500;
                @include transition(all, .3s, ease-in);
            }
        }

		.desc {
			margin-top: rem(10);
			@include line-clamp(2);
		}

		.location {
			display: flex;
			flex-wrap: nowrap;
			align-items: flex-start;
			min-height: rem(14*3*1.44);
			max-height: rem(14*3*1.44);

			&:before {
				content: '';
				display: block;
				width: rem(10);
				height: rem(13);
				margin-top: rem(10);
				background-image: url('#{$path}/deco_location.svg');
				background-size: rem(10) rem(13);
				background-repeat: no-repeat;
				margin-right: rem(10);
				margin-top: rem(4);
			}

			span {
				width: calc(100% - rem(10));
				font-weight: 300;
				font-size: rem(14);
				color: #4D4D4D;
			}
		}

        .project {

            &__name {
                @include ellipsis;

                span {
                    color: $secondary;
                }
            }

            &__location {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;

                span {
                    @include ellipsis;
                    color: $secondary;
                }

                &:before {
                    content: '';
                    display: block;
                    flex: 0 0 rem(11);
                    width: rem(11);
                    height: rem(14);
                    background-image: url('#{$path}/deco_location-fill.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-right: rem(10);
                }
            }

            &__nature {
                @include list-reset;
                display: flex;
                flex-wrap: wrap;
                gap: rem(10);

                li {
                    display: inline-flex;
                    max-width: 100%;
                    align-items: center;
                    background-color: $bg-3;
                    padding: rem(4) rem(10);
                    overflow: hidden;

                    span {
                        @include ellipsis;
                        color: $white;
                    }
                }
            }

            &__type {
                display: inline-flex;
                max-width: 100%;
                align-items: center;
                overflow: hidden;

                span {
                    @include ellipsis;
                    color: $bg-2;
                }
            }

            &__theme {
                span {
                    color: $bg-2
                }
            }
        }

		.action {
            @include list-reset;
			display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            column-gap: rem(20);
		}

        .department {
            margin-top: rem(10);
            color: $secondary;
            @include ellipsis;
        }
	}

	&--news {
		border: rem(1) solid $secondary;

		.cardItem__image {
			border-bottom: rem(1) solid $secondary;

            &:before {
                padding-top: 100%;
            }
		}

		.cardItem__text {
            padding: rem(20);

			.date {
                font-size: rem(18);
                line-height: calc(26 / 18);
				color: $dark;
			    margin-bottom: rem(10);
			}

			.title {
				color: $dark;
                @include line-clamp(2);
			}

			.action {
				margin-top: rem(40);
				justify-content: flex-start;
			}
		}
	}

	&--dayOf {

		.cardItem__text {
            position: relative;
            height: rem(364);
            padding: rem(26) rem(30);
            @include box-sizing(border-box);

			.time {
				color: $primary-hover;
			    margin-bottom: rem(10);
                font-size: rem(20);
                line-height: calc(26 / 20);
			}

			.title {
				color: $primary-hover;
                @include line-clamp(2);
			}

            .project {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 0 rem(30) rem(26);
                margin-top: rem(82);

                @include rwd-min(769px) {
                    margin-top: rem(126);
                }

                .project__location {
                    margin-top: rem(6);
                }
                .project__nature {
                    margin-top: rem(6);
                    overflow: hidden;
                    align-items: flex-start;
                }
            }
		}
	}

    &--exhMap {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
        column-gap: rem(16);
        @include transition(opacity, 0.3s, ease-in);

        .cardItem__venue {
            flex: 0 0 rem(72);

            @include rwd-min(769px) {
                flex: 0 0 rem(84);
            }

            .text {
                @include transition(all, .3s, ease-in);
            }
        }

        .cardItem__text {
            min-width: 0;
            flex: 0 0 calc(100% - rem(84));
            width: calc(100% - rem(84));

            @include rwd-min(769px) {
                flex: 0 0 calc(100% - rem(100));
                width: calc(100% - rem(100));
            }

            .title {
                color: $black;
                @include line-clamp(2);
            }

            .project {
                margin-top: rem(6);
                min-width: 0;
                width: 100%;
                column-gap: rem(8);
                display: flex;

                &__location {
                    flex: 1;
                    min-width: 0;
                }

                &__type {
                    flex-shrink: 0;
                    max-width: 50%;
                    min-width: 0;
                }
            }
        }

        &:hover {
			text-decoration: none;

            .cardItem__venue {
                .text {
                    background-color: $primary-hover;
                    color: $white;
                    border-color: $primary-hover;
                }
            }
        }

        @include rwd-not-hover {
            &:hover {
                .cardItem__venue {
                    .text {
                        background-color: transparent;
                        color: $secondary;
                        border-color: $secondary;
                    }
                }
            }
        }
    }

    &--event {
        padding: rem(20);
        border-width: rem(1);
        border-style: solid;
        border-color: $secondary;
        background-color: $white;
        border-radius: rem(20);
        @include transition(all, .3s, ease-in);

        @include rwd-min(769px) {
            padding: rem(30) rem(40);
        }

        .cardWrap {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: rem(20);

            .cardItem__image {
                flex: 0 0 100%;
            }

            .cardItem__text {
                flex: 1;
            }

            @include rwd-min(769px) {
                gap: 0;
                flex-wrap: nowrap;
                flex-direction: row-reverse;
                justify-content: space-between;

                .cardItem__image {
                    flex: 0 0 rem(290);
                }

                .cardItem__text {
                    flex: 0 0 calc(100% - rem(325));
                    width: calc(100% - rem(325));
                }
            }
        }

        .cardItem__image {
            &:before {
                padding-top: calc((435 / 580) * 100%);
            }
        }

        .cardItem__text {
            position: relative;
            background-color: transparent;

            * {
                @include transition(all, .3s, ease-in)
            }

            .time {
                color: $primary-hover;
			    margin-bottom: rem(6);
                font-size: rem(18);
                line-height: calc(26 / 18);
            }

            .title {
                color: $primary-hover;
            }

            .type {
                position: absolute;
                right: 0;
                top: 0;
                border-width: rem(1);
                border-style: solid;
                border-color: $secondary;
                padding: rem(3) rem(11);

                span {
                    color: $secondary;
                }
            }

            .natures,
            .links {
                @include list-reset;
                margin-top: rem(10);
            }

            .natures {
                display: flex;
                flex-wrap: wrap;
                column-gap: rem(10);
                row-gap: rem(2);

                & > li {
                    color: $primary-hover;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

            .links {
                color: $secondary;

                & > li {
                    position: relative;
                    padding-left: rem(20);
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    gap: rem(10);
                    margin-bottom: rem(6);

                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: rem(10);
                        height: rem(10);
                        border-radius: 50%;
                        background-color: $yellow;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .map {
                    color: $secondary;

                    &[href] {
                        text-decoration: underline;
                    }
                }

                .reserveLink {
                    display: flex;
                    align-items: center;
                    gap: rem(6);

                    &:after {
                        content: '';
                        display: block;
                        flex: 0 0 rem(13);
                        width: rem(13);
                        height: rem(13);
                        background-image: url('#{$path}/arrow_reserve-b.svg');
                        background-size: rem(13);
                        background-repeat: no-repeat;
                        @include transition(all, .3s, ease-in);
                    }

                    .reserveLink__text {
                        font-weight: 600;
                        text-decoration: underline;
                        color: $primary-hover;
                    }
                }
            }
        }

        .cardItem__action {
            @include list-reset;
            display: flex;
            flex: 0 0 100%;
            justify-content: flex-start;

            @include rwd-min(769px) {
                justify-content: flex-end;
            }
        }

        .btn--goDetail {
            &:after {
                @include transition(all, .3s, ease-in);
            }
        }

        &:hover {
            border-color: $bg-3;
            background-color: $bg-3;

            .cardItem__text {
                .time,
                .title,
                .natures > li,
                .links,
                .type,
                .map {
                    color: $white;
                }

                .type {
                    border-color: $white;

                    span {
                        color: $white;
                    }
                }

                .reserveLink {

                    .reserveLink__text {
                        color: $white;
                    }

                    &:after {
                        background-image: url('#{$path}/arrow_reserve-w.svg');
                    }
                }
            }

            .btn--goDetail {
                border-bottom-color: $white;

                &:after {
                    background-image: url('#{$path}/arrow_goDetail-light.svg');
                }

                .btn__text {
                    color: $white;
                }
            }
        }

        @include rwd-not-hover {
            &:hover {
                border-color: $secondary;
                background-color: $white;

                .cardItem__text {
                    .time,
                    .title,
                    .natures > li {
                        color: $primary-hover;
                    }

                    .type {
                        border-color: $secondary;

                        span {
                            color: $secondary;
                        }
                    }

                    .links {
                        color: $secondary;

                        .map {
                            color: $secondary;
                        }
                    }

                    .reserveLink {

                        .reserveLink__text {
                            color: $primary-hover;
                        }

                        &:after {
                            background-image: url('#{$path}/arrow_reserve-b.svg');
                        }
                    }
                }

                .btn--goDetail {
                    border-bottom-color: $white;

                    &:after {
                        background-image: url('#{$path}/arrow_goDetail-dark.svg');
                    }

                    .btn__text {
                        color: $secondary;
                    }
                }
            }
        }
    }

    &--participation {
        display: block;
		border: rem(1) solid $secondary;

		.cardItem__image {
			border-bottom: rem(1) solid $secondary;

            &:before {
                padding-top: 100%;
            }
		}

		.cardItem__text {
            padding: rem(20);

			.title {
				color: $dark;
                @include line-clamp(2);
			}

			.action {
				margin-top: rem(40);
				justify-content: flex-start;
			}
		}

        &:hover {
            text-decoration: none;

            .cardItem__image {
                img {
                    @include scale(1.02);
                }
            }

            .cardItem__text {
                .venue {
                    .venue__label {
                        background-color: $primary-hover;
                        color: $white;
                        border-color: $primary-hover;
                    }
                }
            }
        }

        @include rwd-not-hover {
            &:hover {
                .cardItem__image {
                    img {
                        @include scale(1);
                    }
                }
                .cardItem__text {
                    .venue {
                        .venue__text {
                            background-color: transparent;
                            color: $secondary;
                            border-color: $secondary;
                        }
                    }
                }
            }
        }
	}

    &--brand {
		border: rem(1) solid $secondary;

		.cardItem__image {
			border-bottom: rem(1) solid $secondary;

            &:before {
                padding-top: 100%;
            }

            img {
                filter: grayscale(1);
            }
		}

		.cardItem__text {
            padding: rem(20);

			.title {
				color: $dark;
                @include line-clamp(2);
			}

			.action {
				margin-top: rem(40);
				justify-content: flex-start;
			}
		}

        &:hover {

            .cardItem__image {
                img {
                    filter: grayscale(0);
                }
            }
        }


        @include rwd-not-hover {

            &:hover {

                .cardItem__image {
                    img {
                        filter: grayscale(0);
                    }
                }
            }
        }
	}

    &--overview {
        display: block;

		.cardItem__image {

            &:before {
                padding-top: 100%;
            }
		}

		.cardItem__text {
            background-color: $white;
            padding: rem(20);

            .venue {
                &__icon {
                    width: rem(18);

                    img {
                        width: 100%;
                    }
                }
            }

			.title {
				color: $dark;
                @include line-clamp(2);
			}

            .project {
                margin-top: rem(10);
                min-width: 0;
                width: 100%;
                column-gap: rem(8);
                display: flex;

                &__location {
                    flex: 1;
                    min-width: 0;
                }

                &__theme {
                    flex-shrink: 0;
                    max-width: 30%;
                    min-width: 0;
                }
            }

			.action {
				margin-top: rem(40);
				justify-content: flex-start;
			}
		}

        &:hover {
            text-decoration: none;

            .cardItem__image {
                img {
                    @include scale(1.02);
                }
            }

            .cardItem__text {
                .venue {
                    .venue__label {
                        background-color: $primary-hover;
                        color: $white;
                        border-color: $primary-hover;
                    }
                }
            }
        }

        @include rwd-not-hover {
            &:hover {
                .cardItem__image {
                    img {
                        @include scale(1);
                    }
                }
                .cardItem__text {
                    .venue {
                        .venue__text {
                            background-color: transparent;
                            color: $secondary;
                            border-color: $secondary;
                        }
                    }
                }
            }
        }
	}
}