@use '../variables' as *;
@use '../mixin' as *;

$path: '../../images';

.cards {
	position: relative;

	.swiper-wrapper {
		overflow-x: scroll;
		padding-left: rem(30);

		.swiper-slide {
			width: rem(290);
			margin-right: rem(20);
			@include box-sizing(content-box);

			&:last-child {
				padding-right: rem(30);
			}
		}

		@include rwd-min(561px) {
			overflow-x: visible;
			padding-left: 0;
			@include box-sizing(border-box);

			.swiper-slide {
				width: auto;

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}

	@include rwd-min(561px) {
		.swiper-button-next,
		.swiper-button-prev {
			display: block;
			width: rem(38);
			height: rem(38);
			background-size: rem(38);
			background-repeat: no-repeat;
			border-radius: 50%;
			box-shadow: 0 rem(4) rem(4) rgba(16, 55, 141, 0.08);

			&.swiper-button-disabled {
				// display: none;
			}

			&.swiper-button-lock {
				display: none;
			}

			&:after {
				content: '';
			}
		}

		.swiper-button-prev {
			left: rem(-46);
			background-image: url('#{$path}/arrow_slide-prev.svg');
		}

		.swiper-button-next {
			right: rem(-46);
			background-image: url('#{$path}/arrow_slide-next.svg');
		}
	}

	@include rwd-min(993px) {
		.swiper-button-prev {
			left: rem(-56);
		}

		.swiper-button-next {
			right: rem(-56);
		}
	}
}

.cardItem {

	&__date {
		@include f-unbounded;
		color: $white;
		margin-bottom: rem(10);
	}

	&__image {
		position: relative;

		&:before {
			content: '';
			display: block;
			padding-top: 100%;
		}

		img {
			@include fit-cover;
		}
	}

	&__text {
		padding: rem(20);
		background-color: $white;

		.date {
			@include f-unbounded;
			color: #0A0C00;
			margin-bottom: rem(10);
		}

		.title {
			color: #0A0C00;
			@include line-clamp(2);
		}

		.desc {
			color: #0A0C00;
			margin-top: rem(10);
			@include line-clamp(2);
		}

		.location {
			display: flex;
			flex-wrap: nowrap;
			align-items: flex-start;
			min-height: rem(14*3*1.44);
			max-height: rem(14*3*1.44);

			&:before {
				content: '';
				display: block;
				width: rem(10);
				height: rem(13);
				margin-top: rem(10);
				background-image: url('#{$path}/deco_location.svg');
				background-size: rem(10) rem(13);
				background-repeat: no-repeat;
				margin-right: rem(10);
				margin-top: rem(4);
			}

			span {
				width: calc(100% - rem(10));
				font-weight: 300;
				font-size: rem(14);
				color: #4D4D4D;
			}
		}

		.more {
			margin-top: rem(12);
			display: flex;
		}
	}

	&--news {
		.more {
			justify-content: flex-start;
		}
	}

	&--event {
		.more {
			justify-content: flex-end;
		}
	}
}