@use "../variables" as *;
@use "../mixin" as *;

$pagePath: '/resources/images';

.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: rem(14);

    .pagination__item {
        position: relative;

        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }

        .text {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        &--prev,
        &--next {
            font-size: 0;
            width: rem(38);
            border-width: rem(1);
            border-style: solid;
            border-color: $secondary;
            background-color: $white;
            @include transition(all, .3s, ease-in);
            border-radius: 50%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        &--prev {
            background-image: url('#{$pagePath}/arrow_pager-prev-w.svg');

            &.is-disabled {
                border-color: #adb5bd;
                background-image: url('#{$pagePath}/arrow_pager-prev-g.svg');

                &:hover {
                    border-color: #adb5bd;
                    background-image: url('#{$pagePath}/arrow_pager-prev-g.svg');
                }
            }

            &:hover {
                border-color: $primary-hover;
                background-color: $primary-hover;
                background-image: url('#{$pagePath}/arrow_pager-prev-b.svg');
            }

            @include rwd-not-hover {
                &:hover {
                    border-color: $secondary;
                    background-color: $white;
                    background-image: url('#{$pagePath}/arrow_pager-prev-w.svg');
                }
            }
        }

        &--next {
            background-image: url('#{$pagePath}/arrow_pager-next-w.svg');

            &.is-disabled {
                border-color: #adb5bd;
                background-image: url('#{$pagePath}/arrow_pager-next-g.svg');

                &:hover {
                    border-color: #adb5bd;
                    background-image: url('#{$pagePath}/arrow_pager-next-g.svg');
                }
            }

            &:hover {
                border-color: $primary-hover;
                background-color: $primary-hover;
                background-image: url('#{$pagePath}/arrow_pager-next-b.svg');
            }

            @include rwd-not-hover {
                &:hover {
                    border-color: $secondary;
                    background-image: url('#{$pagePath}/arrow_pager-next-w.svg');
                }
            }
        }

        &--num {
            border-width: rem(1);
            border-style: solid;
            border-color: $secondary;
            border-radius: 50%;
            width: rem(38);
            background-color: $white;
            @include transition(all, .3s, ease-in);

            .text {
                color: $secondary;
            }

            &.is-disabled {
                border-color: $gray-700;

                .text {
                    color: $gray-700;
                }
            }

            &:hover {
                background-color: $primary-hover;
                
                .text {
                    text-decoration: none;
                    color: $white;
                }
            }

            &.is-current {
                background-color: $primary-hover;

                .text {
                    color: $white;
                }
            }

            @include rwd-not-hover {
                &:hover {
                    background-color: $white;

                    .text {
                        color: $secondary;
                    }
                }
            }
        }

        &--ellipsis {
            width: rem(19);
            height: rem(3);
            
            .text {
                font-size: 0;
            }

            &:before {
                padding-top: rem(3);
                width: rem(19);
                background-image: url('#{$pagePath}/pagination_ellipsis.svg');
            }
        }
    }
}