@use "../variables" as *;
@use "../mixin" as *;

$decoPath: '/resources/images';

@mixin tab-button-style {
    .text {
        padding: rem(13) rem(21);
        border-radius: rem(32);
        border: rem(1) solid $secondary-dark;
        color: $primary-dark;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include transition(all, 0.3s, ease-in);
    }

    &.is-active,
    &:hover {
        .text {
            text-decoration: none;
            border: rem(1) solid $primary-dark;
            background-color: $primary-hover;
            color: $white;
            box-shadow: 0 rem(4) rem(4) rgba(16, 55, 141, 0.08);
        }
    }

    @include rwd-not-hover {
        &:hover:not(.is-active) {
            .text {
                border: rem(1) solid $secondary-dark;
                background-color: $primary-hover;
                color: $primary-dark;
            }
        }
    }
}

.tabGroup {
    width: 100%;
    margin: 0 auto;

    &__selector {
        position: relative;
        z-index: 10;
    }

    &__content {
    }

    .tabOption {
        @include list-reset;
        display: flex;
        transition: all 0.3s ease-in;

        &__item {
            .text {
                @include transition(all, 0.3s, ease-in);
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;

                .symbol {
                    margin-right: rem(3);
                }
            }
        }

        &.jc-center {
            @include rwd-min(1280px) {
                justify-content: center;
            }
        }
        &.jc-start {
            @include rwd-min(1280px) {
                justify-content: flex-start;
            }
        }
    }

    .tabContent {
        opacity: 0;
        visibility: hidden;
        transform: translateY(rem(10));
        pointer-events: none;
        height: 0; 
        overflow: hidden;
        @include transition(all, 0.3s, cubic-bezier(0.4, 0, 0.2, 1));

        &.is-active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            pointer-events: auto;
            height: auto; 
        }
    }

    &--default {
        .tabOption {
            flex-wrap: wrap;
            column-gap: rem(12);
            row-gap: rem(12);

            @include rwd-min(768px) {
                flex-wrap: nowrap;
                column-gap: rem(20);
            }

            &__item {
                display: flex;
                justify-content: center;
                @include tab-button-style;

                .text {
                    @include rwd-max(767px) {
                        padding: rem(11) rem(15);
                    }
                }
            }
        }
    }

    &--select {
        .tabSelect {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: rem(10) rem(29);
            border-radius: rem(15);
            background: $white;
            border: rem(2) solid #9d9d9d;
            user-select: none;
            box-shadow: 0 rem(4) rem(4) rgba(16, 55, 141, 0.08);

            @include rwd-min(1280px) {
                display: none;
            }

            &:after {
                content: '';
                display: block;
                width: rem(39);
                height: rem(39);
                background-image: url('#{$decoPath}/deco_select.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: rem(39);
                @include transition(all, 0.3s, cubic-bezier(0.4, 0, 0.2, 1));
            }

            &__text {
                color: $secondary-dark;
            }
        }

        .tabOption {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            flex-direction: column;
            background-color: $white;
            border: rem(2) solid #9d9d9d;
            border-radius: 0 0 rem(15) rem(15);
            border-top: none;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            @include transition(all, 0.3s, cubic-bezier(0.4, 0, 0.2, 1));

            @include rwd-min(1280px) {
                position: static;
                flex-direction: row;
                column-gap: rem(20);
                background: transparent;
                border: none;
                max-height: unset;
                opacity: 1;
                overflow: visible;
            }

            &__item {
                .text {
                    width: 100%;
                    padding: rem(17) rem(30);
                    color: $secondary-dark;
                    display: block;
                }

                &.is-active .text {
                    color: $primary-hover;
                }

                @include rwd-min(1280px) {
                    @include tab-button-style;
                }
            }
        }

        &.is-open {
            .tabSelect {
                border-radius: rem(15) rem(15) 0 0;

                &:after {
                    @include rotate(180);
                }
            }
            .tabOption {
                max-height: rem(300);
                opacity: 1;
                overflow-y: auto;
            }
        }
    }
}
